<!DOCTYPE html>
{% load fiber_tags %}
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ fiber_page.title }}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>
<body class="{% block body_class %}{{ fiber_page.title|slugify }}{% endblock %}">
	<div id="wpr-page">

        {% comment %} Fixed-width page defined in css at 960 px {% endcomment %}
		<div id="page">

            {% comment %} Header section with skull logo and main navigation {% endcomment %}
			<header>
                {% block logo %}
                <div id="logo">
                    </a><div class="center">Texas Association of Biological Anthropologists</div>
                </div>
                {% endblock %}

				<nav id="mainmenu" class="clearfix">
					{% show_menu "mainmenu" 1 1 %}
				</nav>
			</header>

            {% comment %} Left navigation menu and sidebar with two fiber content slots {% endcomment %}
			<aside id="aside-left">
				<nav id="submenu">
					{% show_menu "mainmenu" 2 3 %}
                    {% block nav_content %}{% endblock %}
				</nav>
                {% show_page_content "aside-upper-left" %}
                {% show_page_content "aside-lower-left" %}

			</aside>

            {% comment %} Main content section with breadcrumbs at the top {% endcomment %}
			<section id="main">
				<nav id="breadcrumbs" class="clearfix">
					<ul>
						{% for fiber_page in fiber_current_pages %}
						<li>
							<a href="{{ fiber_page.get_absolute_url }}">{{ fiber_page.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
                {% comment %} Main content block with one fiber content section,
                a django content block, then another fiber content block {% endcomment %}
				<article>
					{% show_page_content "main" %}
                    {% block main_content %}{% endblock %}
                    {% show_page_content "main_bottom" %}
				</article>
			</section>

            {% comment %} Rigt content panel with two fiber content sections {% endcomment %}
			<aside id="aside-right">
				{% show_page_content "aside-upper_right" %}
                {% show_page_content "asside-lower-right" %}
			</aside>

		</div>
	</div>
</body>
</html>