{% extends "base.html" %}
{% load fiber_tags%}
{% load staticfiles %}
{% load banner %}

{% block main_content %}


    <div id="banner">
        <img src="{% static 'base/home_page_images' %}/{{ 1|bannerImage }}"
             alt="" width="500px" />
    </div>

    <section class="content">
        <h1 class="center">News & Announcements</h1>
        <hr/>
        {% if announcement_list %}
            {% for announcement in announcement_list %}
                <div class="content">
                <h2>{{ announcement.title }}</h2>
                {{ announcement.stub|safe }}

                {% if announcement.body %}
                <p id="more"><a href="{%  url 'base:announcement_detail' announcement.id %}">more...</a></p>
                {% endif %}

                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <p>There are no active announcements.</p>
        {% endif %}
    </section>
{% endblock %}